.listarClientesContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.listarClientesCargando {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
  background: white;
  color: #2c3e50;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.listarClientesError{
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
  background: white;
  color: red;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.listarClientesTitulo {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.listarClientesControles {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px;
  background: #f8f9fa;
  border-radius: 8px;
}

.listarClientesEtiqueta {
  font-size: 0.9rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 6px;
}

.listarClientesSelectPagina {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  color: black;
}

.listarClientesLista {
  margin: 20px 0;
}

.listarClientesPaginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: black;
  margin-top: 20px;
}

.listarClientesBoton {
  background: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.listarClientesBotonNuevoCliente {
  background: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.listarClientesBotonNuevoCliente:hover:not(:disabled) {
  background: #2980b9;
}


.listarClientesBoton:hover:not(:disabled) {
  background: #2980b9;
}

.listarClientesBoton:disabled {
  background: #bdc3c7;
  cursor: not-allowed;
}

.listarClientesInfoPagina {
  font-size: 1rem;
  color: #555;
}